/*Global setting for all element*/
/*Default web layout*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Body setting*/
body {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    background-color: #000000;
    color: seashell;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

/*Header setting*/
/*all in header part*/
header {
    width: 100%;
    height: 69px;
    border-bottom: solid 1px seashell;
    position: sticky;
    top: 0;
    background-color: #000000;
    z-index: 1000;
    display: flex;
    justify-content: space-between; 
}
/*logo part*/
header section.logo {
    display: flex;
    align-items: center;
    position: relative;
    left: 10px;
}
/*navigation bar part*/
header .navigation {
    display: flex;
    align-items: center;
    position: relative;
    right: 10px;
}
header .navigation li {
    display: inline;
    margin-left: 10px;
}
header .navigation li a {
    color: seashell;
}
header .navigation li a:hover {
    color:aqua;
    font-weight: bold;
    text-decoration: none;
}

/*Main setting*/
/**mission part*/
main .mission {
    width: 1200px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
/*mission background setting*/
main .mission img {
    position: absolute;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 800;
}
/*mission artcle setting*/
main .mission article {
    width: 100%;
    padding: 20px;
    background-position: center;
    background-color: #000000;
    background-size: 1200px;
    z-index: 900;
    position: relative;
    text-align: center;
}
main .mission h2 {
    margin-bottom: 20px;
}